.card-footer-father{
    display: flex;
}
.card-footer-first-child{
    flex: 3;
    border-left: 1px dashed black
}
.card-footer-second-child{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.card-footer{
    padding: 0;
}
.footer-left-bottom{
    border-top: 1px dashed black;
}

/*.ad-card  {*/
    /*border: 7px solid #f2f2f2;*/
    /*border-right-width: 15px;*/
    /*border-left-width: 15px;*/
/*}*/

.product-image{
    height: 300px;
    object-fit: scale-down;

}
