/*.nav-wrapper{*/
    /*background-color: khaki !important;*/
/*}*/

.rtl .nav-wrapper .dropdown-menu{
    right: auto;
}

.nav-item a {
    color: #ffffff;
}

.nav-item a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .nav-wrapper  ul{
        padding: 0 !important;
        margin: 0 !important;
    }
    .rtl .navbar-nav .nav-item {
        margin-right: 1rem;
        margin-left: inherit;
    }
}

/*colors:*/
/*bg-dark: #343a40*/
